<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Clarence Taylor</span>
  <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
    </span> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/#flights">Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/#tourists">Tourists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Add Tourist</a>
      </li> 
    </ul>
  </div>
</nav> -->

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="flights">

  <div class="w-100" id="edit-flight">
      <div class="container">
          <div *ngIf="!submitted">
            <h2>Edit Flight</h2>
            <form (ngSubmit)="onSubmit()" #flightForm="ngForm">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title"
                       required
                       [(ngModel)]="model.title" name="title"
                       #name="ngModel">
                <!-- <div *ngIf="title.valid || title.pristine"
                     class="alert alert-danger">
                  Title is required
                </div> -->
              </div>
        
              <div class="form-group">
                <label for="departureTime">Departure date</label>
                <input type="datetime-local" class="form-control" id="departureTime"
                       [ngModel]="model.departureTime * 1000 | date: 'yyyy-MM-ddThh:mm'" (ngModelChange)="updateDate($event, 'departureTime')" name="departureTime">
              </div>
      
              <div class="form-group">
                  <label for="arrivalTime">Arrival date</label>
                  <input type="datetime-local" class="form-control" id="arrivalTime"
                         [ngModel]="model.arrivalTime * 1000 | date: 'yyyy-MM-ddThh:mm'" (ngModelChange)="updateDate($event, 'arrivalTime')" name="arrivalTime">
                </div>
                
      
              <div class="form-group">
                  <label for="numberOfSeats">Number of seats </label>
                  <input type="number" class="form-control" id="numberOfSeats"
                          [(ngModel)]="model.numberOfSeats" name="numberOfSeats">
                </div>
      
              <div class="form-group">
                  <label for="ticketPrice">Ticket Price($)</label>
                  <input type="number" class="form-control" id="ticketPrice"
                          [(ngModel)]="model.ticketPrice" name="ticketPrice">
                </div>
      
              <div class="form-group">
                <label for="tourists">Tourists</label>
                <select class="form-control" id="tourists"
                        required
                        [(ngModel)]="model.tourist" name="tourist"
                        #power="ngModel">
                  <option *ngFor="let pow of tourists" [value]="pow">{{pow}}</option>
                </select>
              </div>
        
              <button type="submit" class="btn btn-success">Submit</button>
              <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
              <i>with</i> reset
        
              &nbsp;&nbsp;
              <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
              <i>without</i> reset -->
             <!-- - -->
            </form>
          </div>
        
          <div *ngIf="submitted">
            <h2>You submitted the following:</h2>
            <div class="row">
              <div class="col-xs-3">Title: </div>
              <div class="col-xs-9">{{ model.title }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3">Departure: </div>  
              <div class="col-xs-9">{{ model.departureTime }}</div>
            </div>
      
            <div class="row">
                <div class="col-xs-3">Arrival: </div>
                <div class="col-xs-9">{{ model.arrivalTime }}</div>
              </div>
            <div class="row">
              <div class="col-xs-3">Number of seats: </div>
              <div class="col-xs-9">{{ model.numberOfSeats }}</div>
            </div>
      
            <div class="row">
                <div class="col-xs-3">Ticket price: </div>
                <div class="col-xs-9">{{ model.ticketPrice }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Tourist: </div>
                <div class="col-xs-9">{{ model.tourist }}</div>
            </div>
            <br>
            <button class="btn btn-primary" (click)="submitted=false">Edit</button>
          </div>
        </div>
  </div>

</section>
